<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="net.daum.myone.frontapi.mvc.persistence.EventMapper">
	
	<select id="getEventList" resultType="Event">
		select c.*
				, nvl((select 'Y' from eventread where seqno=c.seqno and userseq=#{userseqCond, jdbcType=VARCHAR}), 'N') readflag
		from(	
			select *
			from(
				select a.*, rownum rnum
				from(
					select * 
					from event x
					<include refid="where_eventList"/>
					<if test="ordertypeCond == null">
					order by <!-- topdisplayyn desc, --> sortno, fstrgstdttm desc
					</if>
					<if test='ordertypeCond == "B"'>		
					order by dbms_random.random
					</if>
				) a
			) b
			<if test='pagingflag != "N"'>where b.rnum between #{startnum} and #{finishnum}</if>
		) c		
		<if test="ordertypeCond == null">
		order by <!-- c.topdisplayyn desc, --> c.sortno, c.fstrgstdttm desc
		</if>
		<if test='ordertypeCond == "B"'>		
		order by dbms_random.random
		</if>
	</select>
	
	<sql id="where_eventList">
		where			
				displayyn='Y'
			<if test="daumflagCond != null">
			and x.issurid is null
			</if>			
			<if test="displaytypeCond != null">
			and x.displaytype=#{displaytypeCond}			
			</if>
			<if test="mydisplayynCond != null">
			and x.mydisplayyn=#{mydisplayynCond}			
			</if>						
			<if test="maindisplayynCond != null">
			and x.maindisplayyn=#{maindisplayynCond}			
			</if>
			<if test='readflagCond == "N"'>
			and not exists (select 1 from eventread where x.seqno=seqno and userseq=#{userseqCond, jdbcType=VARCHAR})
			</if>	
			<if test="compidCond != null">
			and x.compid=#{compidCond}			
			</if>
			<if test="dateCond != null">
			and to_char(sysdate, 'yyyymmdd') between x.fromdt and x.todt			
			</if>		
			
	</sql>
	
	
</mapper>